body {
    margin:0;
     font-family: monospace;
    background-color: rgb(255, 253, 248);
}

header {
    background-color: rgb(255, 253, 248);
    height: 10vh;
    color:rgb(4, 3, 2);
}
.heading{
    text-align: center;
    text-decoration: solid;
    font-weight: bold;
    font-size: 50px;
}

.image-box{
    position: relative;
    width: 50%;
    margin: auto;
    border-radius: 10%;
    background-color: black;
   
}
.image{
    width: 100%;
    height:25%;
    display:block;
    object-fit: cover;
    border-radius: 10%;
}
.image-text{
    position:absolute;
    bottom: 10px;
    left:20px;
    color:white;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.7);
}

.buttons{
    text-align: center;
}

.button{
    text-align: center;
    height: 40px;
    width: 100px;
    border-radius: 15%;
    background-color: pink;
    cursor: pointer;
}
section{
    height:50vh;
}
.state1{
    margin: 0;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: auto;
    background-color: rgb(194, 222, 216);
    padding: 20px 20px;
    background-color: rgba(193, 218, 218, 0.918);
}

.state2{
    text-align: center;
    height : 20vh;
    border:1px solid rgb(237, 131, 131);
    border-radius: 50%;
    background-color: rgb(201, 123, 136);
    color:rgb(245, 231, 36);
}


    .options{
        text-align: center;
        gap:50px;
    }
    .button6{
        text-align: center;
    height: 40px;
    width: 100px;
    border-radius: 15%;
    background-color: pink;
    cursor: pointer;
    }
    .button7{
        text-align: center;
    height: 40px;
    width: 100px;
    border-radius: 15%;
    background-color: rgb(247, 242, 242);
    cursor: pointer;
    
    }
    .button8{
        text-align: center;
    height: 40px;
    width: 100px;
    border-radius: 15%;
    background-color: pink;
    cursor: pointer;
    }
    .abcd{
        text-align: center;
    }
    .facilities{
    margin: 0;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height:150px;
    background-color: rgb(194, 222, 216);
    

    }
    footer{
        text-align: center ;
        border-bottom-left-radius: 10%;
        border-top-left-radius: 10%;
        background-color: rgb(176, 174, 174);
        height:25vh;
    }